<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018 MageWorkshop. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageworkshop_detailedreview_collect_unknown_input_type_configurations">
        <observer name="mageworkshop_imageloader_collect_unknown_input_type_configurations"
                  instance="MageWorkshop\ImageLoader\Observer\AddImageFiledConfigurationToForm"
        />
    </event>
</config>