#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/local.xml

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/app===/*
/var/*
!/var/.htaccess
/bin/*
/cgi-bin/*
/dev/*
/generated/*
/generated__/*
/home/*
improved_layered_navigation_for_magento_2_user_guide.pdf
installing_Amasty_extensions_via_composer.pdf
/lib/*
/phpserver/*
/pma2/*
/update/*
/upload/*
/vendor/*
/pub/*
/setup/*

!/var/package
/var/package/*
!/var/package/*.xml

