<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018 MageWorkshop. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageWorkshop_ImageLoader" setup_version="1.1.2">
        <sequence>
            <module name="Magento_Review" />
            <module name="MageWorkshop_Core" />
            <module name="MageWorkshop_DetailedReview" />
        </sequence>
    </module>
</config>
