<li id="extra-info" role="presentation" class="checkout-extra-info">
    <div id="checkout-step-extra-info" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
<!-- ko foreach: getRegion('order-comment') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<!-- ko foreach: getRegion('gift-message') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<!-- ko foreach: getRegion('sign-up-newsletter') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<!-- ko foreach: getRegion('gift-wrap') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
    </div>
</li>