<!-- ko if: isShowNewsletter() -->
<div class="yosto-opc-newsletter  checkbox-group">
    <input type="checkbox" id="newsletter-subscriber-checkbox" name="billing[newsletter_subscriber_checkbox]"
           class="checkbox yosto-opc-additional-data" data-bind="checked: isChecked">
    <label class="label--checkbox" for="newsletter-subscriber-checkbox">
        <span class="check"></span>
        <span class="box-check"></span>
        <!-- ko text: $t('Sign Up for Our Newsletter') --><!-- /ko -->
        </label>
</div>
<!-- /ko -->