<?xml version="1.0"?>
<!--/**
 * Doyenhub_StreetAddress extension
 * NOTICE OF LICENSE
 * This source file is subject to the Doyenhub License
 * that is bundled with this package in the file LICENSE.txt.
 * @category  Doyenhub_Extensions
 * @package   Doyenhub_StreetAddress
 * @copyright Copyright (c) 2017
 * @author Doyenhub Developer <support@doyenhub.com>
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Doyenhub_StreetAddress::config_streetaddress" title="Doyenhub Street Address" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
