<div class="field" data-bind="visible: visible">
    <label class="label"><span data-bind="i18n:'Delivery Date'"></span></label>
    <div class="control">
        <input class="input-text" type="text" data-bind="datetimepicker: true"  name="delivery_date" id="delivery_date" readonly="true"/>
    </div>

</div>
<div class="field" data-bind="visible: visible">
    <label class="label"><span data-bind="i18n: 'Comment'"></span></label>
    <div class="control">
        <textarea name="delivery_comment" id="delivery_comment"></textarea>
    </div>
</div>