<?xml version="1.0"?>
<!--
/**
 * Main config of module
 *
 * @category    Webinse
 * @package     Webinse_RegionManager
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2018 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="webinse_regionmanager" frontName="webinse_regionmanager">
            <module name="Webinse_RegionManager" />
        </route>
    </router>
</config>