<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2018 x-mage2(Yosto). All rights reserved.
 * See README.md for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_yosto_opc_checkout">
        <observer name="yosto_opc_update_gift_options_config"
                  instance="Yosto\Opc\Observer\GiftMessageConfig" />
    </event>
</config>
