<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2018 x-mage2(Yosto). All rights reserved.
 * See README.md for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route id="yosto_opc" frontName="yosto_opc">
      <module name="Yosto_Opc"/>
    </route>
  </router>
</config>