<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 x-mage2(Yosto). All rights reserved.
 * See README.md for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="yosto_order_attachment" frontName="yosto_order_attachment">
            <module name="Yosto_OrderAttachment" />
        </route>
    </router>
</config>
