<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018 MageWorkshop. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Indexer\Model\Config\Data">
        <plugin name="customerPermissions_indexerConfigDataAfterGet"
                type="MageWorkshop\CustomerPermissions\Plugin\Indexer\Config\Data\OverwriteSourcePlugin"
        />
    </type>
</config>
